body
{
 background:lightblue url("./images/img1.jpeg")
 no-repeat 0px 0px fixed; background-size: cover;
 color: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
h1
{
    text-align: center;
    color:white;
    text-shadow: 0px 0px 10px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
legend
{
    background:linear-gradient(45deg,green,red,black);
    padding: 10px;
    border-radius: 10px 0px 10px 0px;   
}
td
{
    width: 200px;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus{
    background-color: #cba483;
    box-shadow: 0 0 10px darkred
}

.button{
    padding: 12px 25px;
    font-size: 20px;
    border: 2px solid white;
    background:linear-gradient(45deg,green,yellow);
    border-radius: 0 10px 0 10px;
    box-shadow: 0 0 10px rgb(23, 240, 13);
    color:black;
    width: 150px;
    text-align: center;
}
.button:hover{
    box-shadow: 0 0 10px white;
    cursor: pointer;
}
